.ingredient-quantity {
  display: flex;
  justify-content: flex-start;
  font-size: .9rem;
}

.ingredient-name {
  display: flex;
  justify-content: flex-start;
  margin-bottom: .5rem;
  font-size: .9rem;
}