input, select, button{
  font-size: 1rem
}

button{
  margin: .5rem 0rem 0rem 0rem;
}

.page-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

}

.recipe-form-container{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.recipe-form{
  display: flex;
  flex-direction: column;
  padding: 0rem 3rem 3rem 1rem
}

.recipe-element{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.recipe-title{
  align-items: flex-start;
}

.method-span{
  display: grid;
}

.recipe-ingredients{
  margin: 1rem 0rem 1rem 0rem
}

.ingredient-triad{
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  border-bottom-style: dashed;
}

.quantity, .dropdown{
  margin:0rem 0rem 0rem 1rem;
}

.new-ingredient-container{
  display: flex;
  justify-content: center;
}
.save-button-container{
  border-style: solid none none
}

.ingredient-method-frame{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media screen and (max-width: 1200px) {
  .ingredient-method-frame{
    display: grid;
    grid-template-columns: 1fr;
  }
}


