.recipe-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete{
  margin-left: .5rem;
  font-size: .5rem;
  color: red;
}

.delete:hover{
  cursor: pointer;
  background-color: lightcoral;
}

.recipes-list-container{
  display: flex;
  flex-direction: row;
  width: 95vw;
  padding: 1rem;
  border-bottom-style: solid;
}

.recipe-card{
  display: flex;
    border-style: solid;
    border-radius: 0.5rem;
    height: 15rem;
    width: 10rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    margin: 0rem 1rem 0rem 1rem;
}

.recipe-image{
  width: 100%;
}


.recipe-link{
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
  text-decoration: underline;
  font-family: serif;
}

.recipe-link:hover{
  color: lightgray  ;
}

.slug-text{
  font-size: .8rem;
    font-weight: 400;
}
